// Reset
*
  margin: 0
  padding: 0
  box-sizing: border-box

button
  padding: 1em
  border-radius: 3px
  border: none
  background: #ddd
  border-bottom: 2px solid #aaa;
  cursor: pointer

input
  padding: 0.5em

li
  list-style: none


// Main
body
  padding: 4em
  color: #fff
  background: #000
  position: relative
  font-size: 14px
button
  margin-right: 1em

h1
  font-size: 2em
  font-weight: bold
  margin-bottom: 1em

h2
  font-size: 1.4em
  font-weight: bold
  margin-bottom: 0.5em

p
  margin-bottom: 0.5em

.container
  border: 1px solid rgba(255, 255, 255, 0.4)
  padding: 2em
  margin-bottom: 1em

// Menu2
body.menu2
  background: url(../img/bg_cat1.jpg) no-repeat center
  background-size: cover
  min-height: 100vh;
  display: flex;
  align-items: center;

body.menu2 h1
  font-size: 5em
  margin-bottom: 0
body.menu2 p
  max-width: 400px;
  line-height: 1.8;

// Menu3
body.menu3
  background: url(../img/bg_cat2.jpg) no-repeat center
  background-size: cover
  min-height: 100vh;
  display: flex;
  align-items: center;

body.menu3 h1
  font-size: 5em
  margin-bottom: 0
body.menu3 p
  max-width: 400px;
  line-height: 1.8;