doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet',href='/css/style.min.css')
    title "Hsu-Summer" is Frontend Framework
  body
    main
      h1 Todo LIST
      #todo

    script(src='/script/application.js')
