doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet',href='css/style.min.css')
    title すー様
  body
    main
      #sample1
      #sample2
      #sample3
      #sample4

      // モーダルサンプル
      #modal-sample

    script(src='script/application.js')
