doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet',href='/css/style.min.css')
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Noto+Sans+JP')
    link(rel='icon',type='image/png',href='images/img_slime.png',size='16x16')
    title DQWalkCalculator
  body
    main
      #todo
      canvas.canvas

    script(src='/script/application.js')
