doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet',href='css/style.min.css')
    title すー様
  body.menu2
    main
      h1 Nekko
      p ネコは、狭義には食肉目ネコ科ネコ属に分類されるヨーロッパヤマネコが家畜化されたイエネコに対する通称である 。人間によく懐くため、イヌと並ぶ代表的なペットとして日本をはじめ世界中で広く飼われている。 より広義には、ヤマネコやネコ科動物全般を指すこともある。
    nav.menu
      #menu2


    script(src='script/application.js')
